@charset "UTF-8";

body{
	font-family: 'Noto Sans JP';
}
.fade-in {
	opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: opacity 1s,visibility 1s, transform 1s;
}
.scroll {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
header{
	width: 100%;
	position: relative;
}
#header_slide ul li{
	width: 73.6vw;
	position: absolute;
	right: 0;
	z-index: -100;
}
#header_slide ul li img{
	width: 100%;
	border-radius: 0 0 0 90px;
}
.header_top{
	width: 94.4%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.header_top img{
	width: 14.6%;
	margin-top: 3%;
	object-fit: contain;
}
.header_menu_sp{
	display: none;
}
.header_menu{
	width: 46%;
	z-index: 100;
}
.header_menu ul{
	display: flex;
	justify-content: space-between;
	margin-top: 6.5%;
}
.header_menu ul li a{
	text-decoration: none;
	font-family: 'Josefin Sans';
	color: #00B21B;
	font-size: 1.9vw;
	font-weight: bold;
}
header .catchphrase{
	font-family: 'Josefin Sans';
	color: #111111;
	font-size: 6.35vw;
	font-weight: normal;
	font-style: italic;
	margin: 9.8% 0 0 10.7%;
}
header .catchphrase .ward1{
	width: 31.8%;
	background-color: #FFFFFF;
}
header .catchphrase_1{
	width: 26.1%;
	background-color: #FFFFFF;
	padding-right: 2.4%;
}
header .catchphrase .ward2{
	color: #00B21B;
	font-size: 5.9vw;
	padding-right: 11.4%;
}
.catchphrase_2{
	font-size: 2vw;
	font-weight: 700;
	display: inline-block;
	background-color: #FFFFFF;
	padding: .4% 0;
	margin: 1.4% 0 2.1% 10.7%;
}
.cvBtn{
	text-decoration: none;
	font-size: 1.4vw;
	color: #FFFFFF;
	display: inline-block;
	background-color: #00B21B;
	padding: 2.4% 4% 2.4% 3.8%;
	border-radius: 50px;
	text-align: center;
	margin-left: 10.7%;
}
h1 {
	font-family: 'Josefin Sans';
	font-style: italic;
	color: #00B21B;
	font-size: 7.5vw;
	font-weight: bold;
	letter-spacing: 1.08px;
	margin-top: 5.2%;
	text-align: center;
}
.h1_1{
	margin: .9% 0 1.7% 0;
	text-align: center;
	font-size: 2.2vw;
	font-weight: 700;
	letter-spacing: 3.2px;
	color: #00B21B;
}
.h1_text{
	font-size: 1.1vw;
	font-weight: 300;
	color: #111111;
	width: 49%;
	text-align: center;
	line-height: 2;
	margin: 0 auto 5%;
}
.about{
	width: 100%;
	padding-bottom: 4.3%;
}
.training{
	display: flex;
	margin-bottom: 7.6%;
}
.training img,.food img{
	width: 66%;
	height: 45.1%;
	z-index: -100;
}
.food{
	display: flex;
	flex-direction: row-reverse;
}
.training_container>div{
	width: 96.7%;
	background-color: #FFFFFF;
	padding: 10.9% 0 12.4%;
	box-shadow: 0 0 40px #00000019;
}
.food_container>div{
	width: 38.5vw;
	background-color: #FFFFFF;
	padding: 10.9% 0 7.2%;
	box-shadow: 0 0 40px #00000019;
}
.training_container{
	margin-left: -5.9%;
	padding-top: 6.1%;
}
.food_container{
	margin-right: -5.9%;
	padding-top: 9.2%;
}
.category{
	width: 78.3%;
	font-family: 'Josefin Sans';
	font-size: 24px;
	color: #00B21B;
	margin: 0 auto 5%;
}
h3{
	width: 78.3%;
	font-size: 32px;
	font-weight: 700;
	color: #111111;
	margin: 0 auto 4.4%;
	line-height: 1.5;
}
.training_container p,.food_container p{
	width: 78.3%;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: .16px;
	line-height: 1.4;
	margin: 0 auto;
}
.about .cvBtn{
	display: none;
}

.wave_top_trainer{
	width: 100%;
	height: 9vw;
	background-image: url(../Images/wave.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: -9.2%;
}
#trainer_wrapper{
	background-color: #00B21B;
	position: relative;
	margin: 6.8% 0;
}
#trainer_wrapper .h2_main,.price .h2_main{
	font-family: 'Josefin Sans';
	font-size: 64px;
	font-weight: 400;
	color: #FFFFFF;
	margin-bottom: .8%;
}
#trainer_wrapper .h2_sub,.price .h2_sub{
	font-size: 20px;
	font-weight: 600;
	color: #FFFFFF;
}
h2{
	margin-left: 11.5%;
	margin-bottom: 3.1%;
}
.trainer_main{
	overflow:hidden;
	display:block;
	margin-bottom: 7.8%;
}
.trainer_main .tab{
	display: flex;
	justify-content: center;
	margin-bottom: 2.8%;
}
.trainer_main .tab div{
	width:25%;
	background: #FFFFFF;
	margin-right:1%;
	border-radius: 10px;
}
.trainer_main .tab div:last-child{
	margin-right: 0;
	border-radius: 10px;
}
#trainer_wrapper img{
	width: 100%;
	border-radius: 10px 10px 0 0;
}
.trainer_main p{
	padding:5.5% 5.5% 7.5%;
	font-size: 1.1vw;
	font-weight: 300;
	line-height:1.7;
	letter-spacing: .15px;
	color: #111111;
	background: #FFFFFF;
	border-radius: 10px;
}
.trainer_main ul {
	display: flex;
	width: 77%;
	list-style-type:none;
	margin: 0 auto 2%;
}
.trainer_main ul li{
	flex-basis: 50%;
	text-align: center;
}
.trainer_main ul li a{
	font-size:18px;
	font-weight:600;
	color:#FFFFFF;
	text-decoration:none;
	display:block;
}
.trainer_main ul li .current{
	width: 100%;
	border-bottom: 2px solid #FFFFFF;
	padding-bottom: 6%;
}
.wave_bottom_trainer{
	width: 100%;
	height: 9vw;
	background-image: url(../Images/wave.png);
	background-size: cover;
	background-repeat: no-repeat;
	object-fit: contain;
	transform: rotate(180deg);
	margin-top: -7.9%;
}

.studio{
	width: 100%;
	padding-top: 1.4%;
	padding-bottom: 4.2%;
}
.studio .h2_main,.faq .h2_main{
	font-family: 'Josefin Sans';
	font-size: 64px;
	font-weight: 400;
	color: #333333;
	margin-bottom: .8%;
}
.studio .h2_sub,.faq .h2_sub{
	font-size: 20px;
	font-weight: 600;
	color: #00B21B;
}
.studio_slide ul{
	width: 77.1%;
	margin: 0 auto;
}
.studio_slide img{
	width: 100%;
	object-fit: cover;
	position: relative;
}
.slide-arrow{
	position: absolute;
	z-index: 1;
}
.prev-arrow{
	width: 5.5vw;
	height: 5.5vw;
	background-color: #FFFFFF;
	border-radius: 50%;
	border-style: none;
	top: 45%;
	left: -3.5%;
}
.prev-arrow::before{
	content: "";
	position: absolute;
	width: .6vw;
	height: .6vw;
	top: 43%;
	border-top: .4vw solid #00B21B;
	border-right: .4vw solid #00B21B;
	transform: rotate(-135deg);
}
.next-arrow{
	width: 5.5vw;
	height: 5.5vw;
	background-color: #FFFFFF;
	border-radius: 50%;
	border-style: none;
	top: 45%;
	right: -3.5%;
}
.next-arrow::before{
	content: "";
	position: absolute;
	width: .6vw;
	height: .6vw;
	top: 43%;
	right: 50%;
	border-top: .4vw solid #00B21B;
	border-right: .4vw solid #00B21B;
	transform: rotate(45deg);
}
.slick-dots{
	left: 12%;
}
.slick-dots li button:before{
	font-size: .9vw;
	top: 24px;
}

.wave_top_price{
	width: 100vw;
	height: 9vw;
	background-image: url(../Images/wave.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: -9.3%;
}
.price{
	background-color: #00B21B;
	margin: 6.8% 0;
	padding: 2.9% 0;
}
.price ul{
	display: flex;
	justify-content: center;
}
.price ul .icon {
    display: block;
    position: relative;
}
.price ul .icon::before {
    position: absolute;
    content: "オススメ！";
    top: -5%;
    left: 13%;
    width: 73.3%;
    height: 5%;
    background:#FFFFFF;
    border: 2px solid #000000;
    border-radius: 70px;
    font-weight: 500;
    font-size: 1.38vw;
    color: #00B21B;
    padding-top: 5.5%;
	line-height: 1px;
}
.price li{
	width: 24.3vw;
	background-color: #FFFFFF;
	text-align: center;
	margin-right: 2%;
	border-radius: 10px;
	padding-top: 2.9%;
	padding-bottom: 2%;
}
.price li:last-child{
	margin-right: 0;
}
.course .week{
	font-weight: 600;
	font-size: 1.8vw;
	color: #00B21B;
	padding-bottom: 3.2%;
}
.course .weekFee{
	font-family: 'Josefin Sans';
	font-weight: 400;
	font-size: 3.3vw;
	color: #111111;
}
.course .admissionFee{
	font-weight: 300;
	font-size: 1.25vw;
	color: #111111;
	padding-bottom: 6.5%;
}
.price li .item{
	font-weight: 300;
	font-size: 1.25vw;
	color: #333333;
	padding-bottom: 3.5%;
}
.price li .item_li{
	font-weight: 600;
	font-size: 1.1vw;
	color: #111111;
}
.course,.rental,.restaurant{
	width: 88.8%;
	border-bottom: 1px solid #D8D8D8;
	margin: 0 auto;
}
.rental,.restaurant{
	padding: 6% 0;
}
.guidance{
	width: 88.8%;
	padding-top: 6%;
	margin: 0 auto;
}
.price li .best{
	position: relative;
}
.wave_bottom_price{
	width: 100vw;
	height: 9vw;
	background-image: url(../Images/wave.png);
	background-size: cover;
	background-repeat: no-repeat;
	object-fit: contain;
	transform: rotate(180deg);
	margin-top: -6.9%;
}

.faq{
	padding: 1.4% 0 4.2%;
}
.faq_container{
	width: 77%;
	margin: 0 auto;
	font-weight: 300;
	font-size: 15px;
	color: #111111;
}
.faq dt span,.faq dd span{
	font-family: 'Josefin Sans';
	font-weight: 600;
	font-size: 26px;
	color: #00B21B;
	margin-right: 3%;
}
.faq_title{
	width: 100%;
	padding-bottom: 2.3%;
	position: relative;
}

.faq_title::after{
	position: absolute;
	width: 8px;
	height: 8px;
	content: "";
	border-top: .35vw solid #00B21B;
    border-right: .35vw solid #00B21B;
    transform: rotate(135deg);
	right: 0;
}
.faq_title.open::after{
    transform: rotate(-45deg);
}
.faq_text{
	display: none;
	padding-bottom: 1.9%;
}
.faq_list{
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 2.2%;
}
.foot_img{
	background: url(../Images/pc_cta.jpg)
	no-repeat right center/contain;
	height: 25.7vw;
}

.cv_container{
	width: 100%;
	background-color: #00B21B;
	padding: 7% 0;
	text-align: center;
}
.cv_container a{
	display: inline-block;
	text-decoration: none;
	font-weight: 600;
	font-size: 1.38vw;
	color: #00B21B;
	background-color: #FFFFFF;
	padding: 2.4% 3.4% 2.4% 3.6%;
	border-radius: 100px;
}

footer{
	width: 100%;
	background-color: #111111;
	padding: 4.9% 0 3.3%;
	position: relative;
}
footer img{
	display: block;
	width: 13.7%;
	margin: 0 auto;
	padding-bottom: 2.8%;
}
footer ul{
	display: flex;
	justify-content: center;
}
footer ul li{
	padding-right: 3.5%;
}
footer ul li:last-child{
	padding-right: 0;
}
footer ul li a{
	text-decoration: none;
	font-family: 'Josefin Sans';
	font-weight: 600;
	font-size: 1.7vw;
	letter-spacing: .24px;
	color: #FFFFFF;
}
.header_btn a{
	position: absolute;
	width: 5.6vw;
	height: 5.6vw;
	background-color: #FFFFFF;
	border-radius: 50%;
	box-shadow: 0 0 10px #00000033;
	right: 20px;
	bottom: 20px;
}
.header_btn a::before{
	position: absolute;
	width: 1vw;
	height: 1vw;
	content: "";
	border-top: 5px solid #00B21B;
    border-right: 5px solid #00B21B;
    transform: rotate(-45deg);
	right: 38%;
	top: 40%;
}




@media screen and (max-width: 1024px) {
	#header_slide ul li{
		width: 76%;
	}
	.header_menu{
		width: 47.5%;
	}
	header .catchphrase{
		margin-left: 9.5%;
	}
	header .catchphrase .ward1{
		width: 31.8%;
		background-color: #FFFFFF;
	}
	.catchphrase_2{
		margin-left: 9.5%;
	}
	.cvBtn{
		margin-left: 9.5%;
	}
	.category{
		font-size: 1.85vw;
	}
	h3{
		font-size: 2.45vw;
	}
	.trainer_main{
		margin-bottom: 7.5%;
	}
	.trainer_main .tab{
		margin-bottom: 4%;
	}
	.training_container p,.food_container p{
		font-size: 1.1vw;
		line-height: 1.6;
	}
	.prevBtn{
		position: absolute;
		width: 5.5vw;
		height: 5.5vw;
		border-radius: 50%;
		border: none;
		background-color: #FFFFFF;
		top: 19vw;
		left: 8.5vw;
		z-index: 10;
	}
	.prevBtn::before{
		position: absolute;
		content: "";
		width: .5vw;
		height: .5vw;
		border-top: .5vw solid #00B21B;
		border-right: .5vw solid #00B21B;
		transform: rotate(225deg);
		top: 40%;
		left: 50%;
	}
	.nextBtn{
		position: absolute;
		width: 5.5vw;
		height: 5.5vw;
		border-radius: 50%;
		border: none;
		background-color: #FFFFFF;
		top: 20vw;
		right: 8.5vw;
		z-index: 10;
	}
	.nextBtn::before{
		position: absolute;
		content: "";
		width: .5vw;
		height: .5vw;
		border-top: .5vw solid #00B21B;
		border-right: .5vw solid #00B21B;
		transform: rotate(45deg);
		top: 40%;
		right: 50%;
	}
	#button ul li a{
		width:1.26vw;
		height:1.26vw;
	}
	.header_btn a{
		right: 1.8%;
		bottom: 10%;
	}
	.header_btn a::before{
		border-top: .4vw solid #00B21B;
		border-right: .4vw solid #00B21B;
		right: 37%;
		top: 40%;
	}
}



@media screen and (max-width: 520px) {
	#header_slide{
		width: 100%;
	}
	#header_slide ul li{
		width: 70.9vw;
		margin-left: auto;
	}
	#header_slide ul li img{
		height: 410px;
		object-fit: cover;
		border-radius: 0 0 0 50px;
	}
	#header_slide ul li{
		left: 109px;
	}
	.header_menu{
		width: 100%;
	}
	.header_top img{
		width: 25.2%;
		margin-top: 4.8vw;
	}
	.header_menu_sp{
		display: block;
		position: absolute;
		top: 4.8vw;
		right: 5.3%;
		width: 6.4%;
		height: 5.4vw;
		background-color: transparent;
		border: none;
	}
	.header_menu_sp span{
		display: block;
		width: 100%;
		margin: auto;
		height: 4px;
		background-color: #00B21B;
		position: absolute;
		left: 0;
		right: 0;
		top: calc((100% - 4px)/2);
		z-index: 1000;
	}
	.menu_lineTop {
		transform: translateY(-6px);
	}
	.menu_lineBottom {
		transform: translateY(6px);
	}
	.menu--isOpen .menu_lineTop {
		transform: rotate(45deg);
		background-color: #FFFFFF;
	}
	.menu--isOpen .menu_lineMiddle {
		opacity: 0;
	}
	.menu--isOpen .menu_lineBottom {
		transform: rotate(-45deg); 
		background-color: #FFFFFF; 
	}
	.header_menu ul{
		display: block;
		width: 100%;
		background-color: #00B21B;
		padding: 43.8% 0;
		display: none;
		position: absolute;
		top: -4%;
		left: 0;
	}
	.header_menu ul li{
		text-align: center;
		padding-bottom: 14.7%;
	}
	.header_menu ul li:last-child{
		padding-bottom:0;
	}
	.header_menu ul li a{
		color: #FFFFFF;
		font-size: 24px;
		letter-spacing: .24px;
	}
	header .catchphrase{
		font-size: 42px;
		margin: 29.5% 0 0 3.6%;
	}
	header .catchphrase_1{
		display: inline;
		width: 0;
		padding-right: 5%;
	}
	header .catchphrase .ward2{
		font-size: 42px;
		padding-right: 5%;
	}
	.catchphrase_2{
		font-size: 13px;
		margin: 2.8% 0 4.1% 3.5%;
	}
	.cvBtn{
		font-size: 13px;
		margin-left: 3.5%;
	}
	h1 {
		width: 63%;
		font-size: 14.9vw;
		letter-spacing: .56px;
		margin: 23% auto 0;
	}
	.h1_1{
		margin: 1.1% 0 6.4% 0;
		font-size: 16px;
		letter-spacing: 1.6px;
	}
	.h1_text{
		font-size: 15px;
		width: 89.3%;
		text-align: left;
		margin: 0 auto 19.7%;
	}

	.about{
		padding-bottom: 10%;
	}
	.training{
		display: block;
		margin-bottom: 7.6%;
	}
	.training img,.food img{
		width: 100%;
		display: block;
		position: relative;
		z-index: -100;
	}
	.food{
		display: block;
	}
	.training_container{
		width: 100%;
		margin-left: 0;
		padding-top: 0;
	}
	.training_container>div{
		width: 87.4%;
		padding: 10.2% 0 7.7%;
		box-shadow: 0 0 20px #00000019;
		border-radius: 8px;
		margin: -3% auto 0;
	}
	.food_container{
		width: 100%;
		margin-right: 0;
		padding-top: 0;
	}
	.food_container>div{
		width: 87.4%;
		padding: 10.2% 0 7.7%;
		box-shadow: 0 0 20px #00000019;
		border-radius: 8px;
		margin: -3% auto 0;
	}
	.category{
		width: 80.2%;
		font-size: 18px;
		margin: 0 auto 6.2%;
	}
	h3{
		width: 81%;
		font-size: 22px;
		font-weight: 600;
		margin: 0 auto 7.8%;
	}
	.training_container p,.food_container p{
		width: 80.6%;
		font-size: 14px;
		letter-spacing: 0px;
	}
	.about .cvBtn{
		display: block;
		width: 72.2%;
		padding: 5.5% 0;
		margin: 10.7% auto 0;
	}

	#trainer_wrapper{
		width: 100%;
		margin: 10% 0;
		padding: 10.8% 0;
	}
	.wave_top_trainer{
		width: 100%;
		height: 9vw;
		background-image: url(../Images/wave.png);
		background-size: contain;
		background-repeat: no-repeat;
		margin-bottom: -12.4%;
	}
	#trainer_wrapper .h2_main,.price .h2_main{
		font-size: 40px;
		margin-bottom: 1.6%;
	}
	#trainer_wrapper .h2_sub,.price .h2_sub{
		font-size: 14px;
	}
	h2{
		margin-left: 5.8%;
		margin-bottom: 9.5%;
	}
	.trainer_main .tab{
		display: block;
		width: 100%;
		margin-bottom: 0;
	}
	.trainer_main .tab div{
		width:89%;
		margin: 0 auto 4.2%;
	}
	.trainer_main .tab div:last-child{
		margin-right: auto;
	}
	.trainer_main p{
		padding:5.5% 5.5% 5%;
		font-size: 14px;
		font-weight: 300;
		line-height:1.5;
		letter-spacing: 0;
	}
	.trainer_main ul {
		width: 89%;
		margin: 0 auto 10%;
	}
	.trainer_main ul li a{
		font-size:16px;
		font-weight:300;
	}
	.trainer_main ul li .current{
		width: 100%;
		font-weight: 600;
		padding-bottom: 9.3%;
	}
	.wave_bottom_trainer{
		width: 100%;
		height: 9vw;
		background-image: url(../Images/wave.png);
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: -12.4%;
	}




	.studio{
		padding-top: 11%;
		padding-bottom: 5.5%;
	}
	.studio .h2_main{
		font-size: 32px;
		margin-bottom: 1.8%;
	}
	.studio .h2_sub,.faq .h2_sub{
		font-size: 14px;
	}
	.studio_slide{
		position: relative;
	}
	.prevBtn{
		width: 10.7vw;
		height: 10.7vw;
		top: 19vw;
		left: 6vw;
	}
	.prevBtn::before{
		width: 1.2vw;
		height: 1.2vw;
		border-top: 3px solid #EB51C2;
		border-right: 3px solid #EB51C2;
		top: 4.2vw;
		left: 5.5vw;
	}
	.nextBtn{
		width: 10.7vw;
		height: 10.7vw;
		top: 19vw;
		right: 6vw;
	}
	.nextBtn::before{
		width: 1.2vw;
		height: 1.2vw;
		border-top: 3px solid #EB51C2;
		border-right: 3px solid #EB51C2;
		top: 4.2vw;
		right: 5.5vw;
	}
	#button{
		margin-top: 60%;
	}
	#button ul{
		width: 10%;
	}
	#button ul li{
		float:left;
		margin-right: 15%;
	}
	#button ul li a{
		width:2vw;
		height:2vw;
	}
	
	.faq .h2_main{
		font-size: 40px;
	}
	.faq .h2_sub{
		font-size: 12px;
	}
	
	.wave_top_price{
		width: 100%;
		height: 9vw;
		background-image: url(../Images/wave.png);
		background-size: contain;
		background-repeat: no-repeat;
		margin-bottom: -9.5%;
	}
	.price{
		margin: 6.8% 0;
		padding-top: 10.7%;
		overflow: hidden;
		position: relative;
		height: 176.2vw;
	}
	.price h2{
		margin-bottom: 0;
	}
	.price ul{
		position: absolute;
		justify-content: flex-start;
		padding-top: 10%;
	}
	.price ul .icon::before{
		top: -4%;
		left: 9%;
		font-size: 20px;
		width: 80%;
		height: 3%;
		padding-top: 5%;
	}
	.price li{
		width: 85.2vw;
		margin-right: 2.3%;
		padding-top: 4.6%;
		padding-bottom: 3.5%;
	}
	.price li:first-child{
		margin-left: 2.3%;
	}
	.price li:last-child{
		margin-right: 2.3%;
	}
	.course .week{
		font-size: 6.9vw;
		padding-bottom: 6%;
	}
	.course .weekFee{
		font-size: 12.8vw;
	}
	.course .admissionFee{
		font-size: 4.2vw;
		padding-bottom: 12%;
	}
	.price li .item{
		font-size: 4.8vw;
		padding-bottom: 4%;
	}
	.price li .item_li{
		font-size: 4.2vw;
	}
	.course,.rental,.restaurant{
		width: 88.8%;
	}
	.rental,.restaurant{
		padding: 10.5% 0 12.2%;
	}
	.guidance{
		padding-top: 10.5%;
	}
	.wave_bottom_price{
		width: 100%;
		height: 9vw;
		background-image: url(../Images/wave.png);
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: -9.5%;
	}


	.faq{
		padding: 10.8% 0 13.5%;
	}
	.faq .h2_sub{
		font-size: 12px;
	}
	.faq_container{
		width: 86.7%;
	}
	.faq dt span,.faq dd span{
		margin-right: 5%;
	}
	.faq_title{
		padding-bottom: 6.5%;
	}
	.faq_title::after{
		width: 1.4vw;
		height: 1.4vw;
		border-top: 3px solid #00B21B;
		border-right: 3px solid #00B21B;
		top: 8px;
	}
	.faq_text{
		padding-bottom: 6.3%;
	}
	.faq_list{
		padding-top: 8%;
		margin-bottom: 0;
	}
	.foot_img{
		background: url(../Images/sp_cta.jpg) center center/cover;
		width: 100%;
		height: 180px;
	}
	.cv_container{
		padding: 10.7% 0;
	}
	.cv_inner{
		width: 80%;
		padding: 5.5% 0;
	}
	.cv_container a{
		font-size: 13px;
	}
	footer{
		padding: 13.5% 0 10.5%;
		position: relative;
	}
	footer img{
		width: 26.4%;
		padding-bottom: 0;
	}
	footer ul{
		display: none;
	}
	.header_btn a{
		width: 10.7%;
		height: 37%;
	}
	.header_btn a::before{
		width: 1.5vw;
		height: 1.5vw;
		border-top: .55vw solid #00B21B;
		border-right: .55vw solid #00B21B;
		right: 4.3vw;
		top: 4.5vw;
	}
}
